
* { box-sizing: border-box; margin-top: 0 }
html, body, #root {
	padding: 0;
	margin : 0;
	height: 100%;
}

body {
  background: #eee;
}


.container {
	display: flex;
	height: 100%;
}


.todos {
	width: 31.8%;
	padding: 2em;
}


.todos h1 {
	font-size: 2em;
	margin-bottom: 0.618em;
}


.todos ul {
	list-style-type: none;
	padding: 0;
}

.todos li {
	list-style-type: none;
}


.todo-form {
	margin-bottom: 2em;
	width: 100%;
}


.todo-form input {
	width: 100%;
	height: 2em;
	border: grey;
	padding-left: 1.682em;
	padding-top: 0.318em;
	padding-bottom: 0.318em;
	font-size: 1.318em;
	box-shadow: 0 0.318em 1.682em 0 rgba(0,0,0, 0.2);
}


.todo-item {
	height: 2em;
	font-size: 1.318em;
	margin-bottom: 0.318em;
	background: #fff;
	line-height: 2em;
	display: inline-block;
	width: 100%;
	padding-left: 1.682em;
	cursor: pointer;
}

.todo-item button {
	opacity: 0;
	float: right;
	height: 100%;
	background: none;
	border: none;
	padding-right: 1.318em;
	color: #ddd;
	cursor: pointer;
}


.todo-item:hover button {
	opacity: 1;
}


.todo-detail {
	padding: 2em;
	width: 61.8%;
}


.todo-detail h2,
.todo-detail input {
	font-size: 2em;
	margin-bottom: 0.618em;
}


.todo-detail textarea {
	width: 100%;
	height: 12em;
	border: grey;
	resize: none;
	font-size: 1.382em;
	padding: 0.618em 1.382em;
}


.todo-detail textarea:focus {
	outline-color: darkgrey;
}


.todo-detail-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}


.todo-detail-wrapper button {
	width: 49.5%;
	background: #fff;
	height: 2em;
	font-size: 1.318em;
	text-align: center;
	line-height: 2em;
	border: none;
}